@charset "UTF-8";

body {
	color: black;
	font-family: ITC Franklin Gothic W01, Calibri, sans-serif;
	line-height: 1.375;
	background-color: white;
	align: well;
}

h1 {
	font-family: ITC Franklin Gothic W01, Calibri, sans-serif;
}

.navbar-default .navbar-brand {
	color: #428bca;
}

.navbar-default .navbar-nav>li>a{
	color: #428bca;
}